---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Astro.">

	<header class="site-header">
	  <div class="logo">	
		<img src="./public/ccfolia.png">
		<a href="#" target="_blank">
			CCFOLIA Bookmarklets
		</a>
	  </div>
	  <nav class="header__link">
		<a href="#" class="links" target="_blank">
			公式Twitter
		</a>
		<a href="#" class="links" target="_blank">
			開発者向け (GitHub)
		</a>
	  </nav>
	</header>

	<div class="cont-inner">
		<div class="txt">
			<p class="txt-default">
				ココフォリア開発チームでレビュー済みのブックマークレット一覧です。
			</p>
			<div class="txt-memo">
				<p>
				ブックマークレットは任意のコードをブラウザ上で実行させる仕組みのため、信頼できない第三者に情報が送信されたり、サーバーに意図せぬ負荷をかけてしまう恐れのあるものです。このページにあるもの以外のブックマークレットは絶対に使用しないでください。
				</p>
			</div>
			<p class="txt-default">
				なお、このページに掲載されているものは安全性を検証したものであり、動作が保証されているものではありません。予告なく提供が終了される場合があります。
			</p>
		</div>

		<div class="card-wrapper">
			<div class="card">
				<div class="btn__modal modal-open">
					<div class="card__imgframe">
						<img class="thumbnail" src="./sample.jpg">
						<img class="icon close" src="./public/charm_zoom-in.svg">
					</div>
					<div class="card__textbox">
						<div class="card__titletext">
							部屋の所有者の時にPLがステータス秘匿でも確認できるようになるブックマークレット部屋の所有者の時にPLがステータス秘匿でも確認できるようになるブックマークレッ	部屋の所有者の時にPLがステータス秘匿でも確認できるようになるブックマークレット部屋の所有者の時にPLがステータス秘匿でも確認できるようになるブックマークレッ	部屋の所有者の時にPLがステータス秘匿でも確認できるようになるブックマークレット部屋の所有者の時にPLがステータス秘匿でも確認できるようになるブックマークレッ
						</div>
						<div class="card__overviewtext">
							開発者：鳥頭めう
						</div>
					</div>
				</div>
				<div class="card__textbox">
					<a class="button" href="#">追加する</a>
				</div>
			</div>
			<div class="card">
				<div class="btn__modal modal-open">
					<div class="card__imgframe">
						<img class="thumbnail" src="./sample.jpg">
						<img class="icon close" src="./public/charm_zoom-in.svg">
					</div>
					<div class="card__textbox">
						<div class="card__titletext">
							部屋の所有者の時にPLがステータス秘匿でも確認できるようになるブックマークレット部屋の所有者の時にPLがステータス秘匿でも確認できるようになるブックマークレッ
						</div>
						<div class="card__overviewtext">
							開発者：鳥頭めう
						</div>
					</div>
				</div>
				<div class="card__textbox">
					<a class="button" href="#">追加する</a>
				</div>
			</div>
			<div class="card">
				<div class="btn__modal modal-open">
					<div class="card__imgframe">
						<img class="thumbnail" src="./sample.jpg">
						<img class="icon close" src="./public/charm_zoom-in.svg">
					</div>
					<div class="card__textbox">
						<div class="card__titletext">
							部屋の所有者の時にPLがステータス秘匿でも確認できるようになるブックマークレット部屋の所有者の時にPLがステータス秘匿でも確認できるようになるブックマークレッ
						</div>
						<div class="card__overviewtext">
							開発者：鳥頭めう
						</div>
					</div>
				</div>
				<div class="card__textbox">
					<a class="button" href="#">追加する</a>
				</div>
			</div>
			<div class="card">
				<div class="btn__modal modal-open">
					<div class="card__imgframe">
						<img class="thumbnail" src="./sample.jpg">
						<img class="icon close" src="./public/charm_zoom-in.svg">
					</div>
					<div class="card__textbox">
						<div class="card__titletext">
							部屋の所有者の時にPLがステータス秘匿でも確認できるようになるブックマークレット部屋の所有者の時にPLがステータス秘匿でも確認できるようになるブックマークレッ
						</div>
						<div class="card__overviewtext">
							開発者：鳥頭めう
						</div>
					</div>
				</div>
				<div class="card__textbox">
					<a class="button" href="#">追加する</a>
				</div>
			</div>
			<div class="card">
				<div class="btn__modal modal-open">
					<div class="card__imgframe">
						<img class="thumbnail" src="./sample.jpg">
						<img class="icon close" src="./public/charm_zoom-in.svg">
					</div>
					<div class="card__textbox">
						<div class="card__titletext">
							部屋の所有者の時にPLがステータス秘匿でも確認できるようになるブックマークレット部屋の所有者の時にPLがステータス秘匿でも確認できるようになるブックマークレッ
						</div>
						<div class="card__overviewtext">
							開発者：鳥頭めう
						</div>
					</div>
				</div>
				<div class="card__textbox">
					<a class="button" href="#">追加する</a>
				</div>
			</div>
			<div class="card">
				<div class="btn__modal modal-open">
					<div class="card__imgframe">
						<img class="thumbnail" src="./sample.jpg">
						<img class="icon close" src="./public/charm_zoom-in.svg">
					</div>
					<div class="card__textbox">
						<div class="card__titletext">
							部屋の所有者の時にPLがステータス秘匿でも確認できるようになるブックマークレット部屋の所有者の時にPLがステータス秘匿でも確認できるようになるブックマークレッ
						</div>
						<div class="card__overviewtext">
							開発者：鳥頭めう
						</div>
					</div>
				</div>
				<div class="card__textbox">
					<a class="button" href="#">追加する</a>
				</div>
			</div>
			<div class="card">
				<div class="btn__modal modal-open">
					<div class="card__imgframe">
						<img class="thumbnail" src="./sample.jpg">
						<img class="icon close" src="./public/charm_zoom-in.svg">
					</div>
					<div class="card__textbox">
						<div class="card__titletext">
							部屋の所有者の時にPLがステータス秘匿でも確認できるようになるブックマークレット部屋の所有者の時にPLがステータス秘匿でも確認できるようになるブックマークレッ
						</div>
						<div class="card__overviewtext">
							開発者：鳥頭めう
						</div>
					</div>
				</div>
				<div class="card__textbox">
					<a class="button" href="#">追加する</a>
				</div>
			</div>
			<div class="card">
				<div class="btn__modal modal-open">
					<div class="card__imgframe">
						<img class="thumbnail" src="./sample.jpg">
						<img class="icon close" src="./public/charm_zoom-in.svg">
					</div>
					<div class="card__textbox">
						<div class="card__titletext">
							部屋の所有者の時にPLがステータス秘匿でも確認できるようになるブックマークレット部屋の所有者の時にPLがステータス秘匿でも確認できるようになるブックマークレッ
						</div>
						<div class="card__overviewtext">
							開発者：鳥頭めう
						</div>
					</div>
				</div>
				<div class="card__textbox">
					<a class="button" href="#">追加する</a>
				</div>
			</div>
			<div class="card">
				<div class="btn__modal modal-open">
					<div class="card__imgframe">
						<img class="thumbnail" src="./sample.jpg">
						<img class="icon close" src="./public/charm_zoom-in.svg">
					</div>
					<div class="card__textbox">
						<div class="card__titletext">
							部屋の所有者の時にPLがステータス秘匿でも確認できるようになるブックマークレット部屋の所有者の時にPLがステータス秘匿でも確認できるようになるブックマークレッ
						</div>
						<div class="card__overviewtext">
							開発者：鳥頭めう
						</div>
					</div>
				</div>
				<div class="card__textbox">
					<a class="button" href="#">追加する</a>
				</div>
			</div>
			<div class="card">
				<div class="btn__modal modal-open">
					<div class="card__imgframe">
						<img class="thumbnail" src="./sample.jpg">
						<img class="icon close" src="./public/charm_zoom-in.svg">
					</div>
					<div class="card__textbox">
						<div class="card__titletext">
							部屋の所有者の時にPLがステータス秘匿でも確認できるようになるブックマークレット部屋の所有者の時にPLがステータス秘匿でも確認できるようになるブックマークレッ
						</div>
						<div class="card__overviewtext">
							開発者：鳥頭めう
						</div>
					</div>
				</div>
				<div class="card__textbox">
					<a class="button" href="#">追加する</a>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-container">
		<div class="modal-body">
			<div class="modal-close">×</div>
			<div class="modal-content">
				<div class="modal__imgframe">
					<img class="modal__thumbnail close" src="./sample.jpg">
					<iframe width="560" height="315" class="modal__thumbnail" src="https://www.youtube.com/embed/-qfuOox_-uQ?controls=0?rel=0&autoplay=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
				<div class="modal__under">
					<div class="modal__textbox">
						<div class="modal__titletext">
							部屋の所有者の時にPLがステータス秘匿でも確認できるようになるブックマークレット
						</div>
						<div class="card__overviewtext">
							開発者：鳥頭めう
						</div>
					</div>
					<div class="modal__button">追加する</div>
				</div>
			</div>
		</div>
	</div>
	</Layout>

	
	<script>
	$('.btn__modal').hover(
		function() {
			if (window.matchMedia("(min-width: 501px)").matches) {                                          
			//マウスカーソルが重なった時の処理
			$(this).find('.icon').addClass('open');
			$(this).find('.icon').removeClass('close');
			$(this).find('.card__imgframe img').css("filter", "brightness(110%)");
			$(this).find('.card__titletext').css("color", "#fff");
			$(this).find('.card__titletext').css("text-decoration", "underline");
			$(this).css("cursor", "pointer");
			}
		}, function () {
			$(this).find('.icon').addClass('close');
			$(this).find('.icon').removeClass('open');
			$(this).find('.card__imgframe img').css("filter", "brightness(100%)");
			$(this).find('.card__titletext').css("color", "#ACACAC");
			$(this).find('.card__titletext').css("text-decoration", "none");
			$(this).css("cursor", "auto");
		}
	);

	$(function(){
        var open = $('.modal-open'),
            close = $('.modal-close'),
            container = $('.modal-container');

        //開くボタンをクリックしたらモーダルを表示する
        open.on('click',function(){    
			var winW = $(window).width();
			var devW = 501;
			if (winW >= devW) {                                               
				container.addClass('active');
			}
			return false;
		});

        //閉じるボタンをクリックしたらモーダルを閉じる
        close.on('click',function(){    
            container.removeClass('active');
        });

        //モーダルの外側をクリックしたらモーダルを閉じる
        $(document).on('click',function(e) {
            if(!$(e.target).closest('.modal-body').length) {
                container.removeClass('active');
            }
        });
		$(window).on('resize', function(){ // ウィンドウがリサイズしたら
			var winW = $(window).width();
			var devW = 501;
			if (winW <= devW) { // ウィンドウ幅が500よりも小さい時
			// モーダルを閉じる処理を書いておく
				container.removeClass('active');
			} 
		});
    });
	</script>


<style>
	html{
		background-color: #202020;
	}
	body {
		font-family: "Helvetica Neue", Helvetica, Arial, "Noto Sans JP",
		"Hiragino Sans", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
		/* ccfolia-bkack */
		background: #202020;
		color: white;
		font-size: 14px;
		margin: 0;
	}
	a{
		text-decoration: none;
	}
	.open{
		display: block;
	}
	.close{
		display: none;
	}
	.site-header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 8px 24px;
	}
	.site-header .logo{
		display: flex;
		align-items: center;
	}
	.site-header .logo a{
		color: #ffffff;
		display: inline-block;
		font-size: 16px;
		font-weight: normal;
		font-weight: 600;
		text-decoration: none;
		font-family: "Roboto";
		align-items: center;
	}
	.site-header img{
		width: 40px;
	}
	.header__link{
		display: flex;
	}
	.site-header .links{
		color: #ffffff;
		font-size: 14px;
		font-weight: 700;
		text-decoration: none;
		padding: 8px;
		text-align: center;
	}
	.site-header .links:hover{
		background: #4e4e4e;
		border-radius: 4px;
	}
	.cont-inner{
		width: 100%;
		padding: 16px 48px;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		max-width:1280px;margin:0 auto;/*装飾用*/
	}
	.txt{
		margin-top: 8;
	}
	.txt-default{
		margin: 10px 0;
		font-weight: 400;
	}
	.txt-memo {
		background: #000;
		box-sizing: border-box;
		padding: 8px 12px;
	}
    .txt-memo p {
      line-height: 180%;
	  font-weight: bold;
	  margin: 0;
	}
	.card-wrapper{
		height:auto;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(17%, 1fr));
		grid-auto-rows: 1fr;
		grid-gap: 16px;
	}
	.card{
		height: auto;
		border-radius: 8px;
		overflow: hidden;
		box-sizing: border-box;
		border: 1px solid #000;/* 装飾用 */
		box-sizing:border-box;/* 装飾用 */
		background: #2A2A2A;
		margin-top: 10px;
	}
	.card__imgframe{
		width: 100%;
		height: auto;
		box-sizing: border-box;
		position: relative;
	}
	.card__imgframe .thumbnail{
		filter: brightness(100%);
		width: 100%;
		height: 100%;
	}
	.card__imgframe .icon{
		position: absolute;
		bottom: 8px;
		right: 4px;
	}
	.card__textbox{
		width: 100%;
		height: auto;
		padding: 8px;
		box-sizing: border-box;
		display:flex;/* 高さを揃えるための指定 */
		flex-direction:column;/* 高さを揃えるための指定 */
	}
	.card__textbox > * + *{
		margin-top: 4px;
	}
	.card__titletext{
		height: 60px;
		font-size: 14px;
		line-height: 140%;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 3;
		overflow: hidden;
	}
	.card__titletext_hover{
		font-size: 14px;
	}
	.card__overviewtext{
		font-size: 11px;
		color: #ACACAC;
	}
	.btn__modal{
		color: #ACACAC;
		text-decoration: none;
	}
	.button{
		width: 100%;
		height: 37px;
		border-radius: 4px;
		border: 1px solid #F40057;
		display: flex;
		justify-content: center;
		align-items: center;
		color: #ffffff;
		font-size: 14px;
		font-weight: normal;
		cursor: pointer;
	}
	.button a{
		color: #ffffff;
	} 
	.button:hover{
		background: #F40057;
		font-weight: bold;
	}
	.modal-container{
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		text-align: center;
		background: rgba(0,0,0,80%);
		padding: 40px 20px;
		overflow: auto;
		opacity: 0;
		visibility: hidden;
		transition: .3s;
		box-sizing: border-box;
	}
	/*モーダル本体の擬似要素の指定*/
	.modal-container:before{
		content: "";
		display: inline-block;
		vertical-align: middle;
		height: 100%;
	}
	/*モーダル本体に「active」クラス付与した時のスタイル*/
	.modal-container.active{
		opacity: 1;
		visibility: visible;
	}
	/*モーダル枠の指定*/
	.modal-body{
		position: relative;
		display: inline-block;
		vertical-align: middle;
		max-width: 672px;
		width: 90%;
	}
	/*モーダルを閉じるボタンの指定*/
	.modal-close{
		position: absolute;
		display: flex;
		align-items: center;
		justify-content: center;
		top: -40px;
		right: 0px;
		width: 40px;
		height: 40px;
		font-size: 50px;
		font-weight: 200;
		color: #acacac;
		cursor: pointer;
	}
	/*モーダル内のコンテンツの指定*/
	.modal-content{
		text-align: left;
		height: auto;
		border-radius: 8px;
		overflow: hidden;
		box-sizing: border-box;
		background: #2A2A2A;
	}
	.modal__imgframe{
		position:relative; 
		padding-bottom:56.25%; 
		height:0; 
		overflow: hidden;
	}
	.modal__thumbnail{
		position: absolute; 
		top:0; 
		left:0; 
		width:100%; 
		height:100%;
	}
	.modal__thumbnail{
		width: 100%;
		height: 100%;
	}
	.modal__titletext{
		font-size: 14px;
		font-weight: 600;
		line-height: 140%;
		color: #ACACAC;
	}
	.modal__textbox{
		width: 100%;
		height: auto;
		padding: 0 8px;
		box-sizing: border-box;
		display:flex;/* 高さを揃えるための指定 */
		flex-direction:column;/* 高さを揃えるための指定 */
	}
	.modal__under{
		padding: 24px;
		display: flex;
		align-items: center;
	}
	.modal__button{
		width: 168px;
		height: 42px;
		border-radius: 4px;
		border: 1px solid #F40057;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 14px;
		cursor: pointer;
	}
	.modal__button:hover{
		background: #F40057;
		font-weight: bold;
	}
	@media screen and (max-width: 1100px) {
		.card-wrapper{
			grid-template-columns: repeat(auto-fit, minmax(24%, 1fr));
		}
	}
	@media screen and (max-width: 933px) {
		.card-wrapper{
			grid-template-columns: repeat(auto-fit, minmax(32%, 1fr));
		}
	}
	@media screen and (max-width: 680px) {
		.card-wrapper{
			grid-template-columns: repeat(auto-fit, minmax(48%, 1fr));
		}
		.cont-inner{
			padding: 32px 24px;
		}
	}
	@media screen and (max-width: 501px) {
		.card-wrapper{
			grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
			display: block;
			height: auto;
		}
		.icon{
			display: none;
		}
		.cont-inner{
			padding: 32px 24px;
		}
		.card__titletext{
			height: auto;
			display: block;
			overflow: visible;
		}
	}
</style>
